/* global */
/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
    text-emphasis: none;
    text-decoration: none !important;
    color: black !important;
}

.mmb {
    margin: 15px auto;
}


/* home */
.main-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: auto;
    margin: auto 15vw;
    text-align: center;
}

.cen-container{
    padding: auto;
    margin: auto;
}

.genInp{
    width: 180px !important;
    display: inline !important;
    margin: 0 !important;
    border-radius: 5px 0px 0px 5px !important;
}

.gen-btn{
    border-radius: 0px 5px 5px 0px !important;

}





/* error page  */
.errorpage{
    margin: 3em;
}

.errorpage span {
    font-size: 24px;
    color: rgb(219, 39, 39);
}


/* callpage */
.callpage{
    margin: 1em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* text-align: center; */
}

.vcont{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.velement {
    /* padding: 2px; */
    margin: auto;
}

video {
    width: 25vw;
    /* height: 17vw; */
    border-radius: 1em;
    border: solid 1px grey;
    margin: auto;
}


.ECcont {
    /* background-color: antiquewhite; */
    width:50vw;
    height: 80vh;
}