/* global */
/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
    text-emphasis: none;
    text-decoration: none !important;
    color: black !important;
}

.mmb {
    margin: 15px auto;
}


/* home */
.main-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    padding: auto;
    margin: auto 15vw;
    text-align: center;
}

.cen-container{
    padding: auto;
    margin: auto;
}

.genInp{
    width: 180px !important;
    display: inline !important;
    margin: 0 !important;
    border-radius: 5px 0px 0px 5px !important;
}

.gen-btn{
    border-radius: 0px 5px 5px 0px !important;

}





/* error page  */
.errorpage{
    margin: auto;
    margin-top: 3em;
    text-align: center;
}

.errorpage span {
    margin: auto;
    font-size: 24px;
    color: rgb(219, 39, 39);
}

