.callpage{
    margin: 1em 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* text-align: center; */
}

.vcont{
    margin-left: 20px ;
    margin-right: 10px;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.velement {
    margin: auto;
    text-align: center;
}

.f-height{
    height: 400px;
    overflow: auto;

}

video {
    width: 20vw;
    border-radius: 1em;
    /* left: 0;
    margin: auto;
    margin-left: -40px; */
    margin-left: -8em;
}

.tagName{
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0.685);
    border-radius: 2px;
    padding: 2px;
    
    margin-left: -15vw;
}


.ECcont {
    width:50vw;
    height: 80vh;
    margin: auto;
    margin-right: 0 !important;
}