.chatCont {
    margin: auto;
    margin-top: 5px !important;
}

.chatBox {
    padding: 2px;
    border-radius: 3px;
    border: solid 1px black;
}

.minp{
    border: solid 2px rgb(255, 225, 53);
}

.finp{
    display: inline;
    border: 0 !important;
}

.scroller{
    min-height: 100px;
    width: auto;
}