

.fin{
    width: 100%;
}

input{ 	
    /* width: max(10vw,250px); */
	padding: 4px;            /* Overridden by font: -webkit-small-control; */
	border: 0;  
    border-bottom: solid 2px black;
    font-size: 18px;
}

